In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/rmuthy2/central_data/datasets/internal/EmoryCXRv2/TABLES/EmoryCXR_v2_Metadata_08152025.csv")

In [3]:
df.shape

(2430209, 18)

In [4]:
df.head()

,empi_anon,AccessionNumber_anon,StudyDate_anon,StudyDescription,SeriesDescription,Sex,Age,BMI,ImagePath,Race,Ethnicity,ViewPosition,ImageType,InstitutionName_anon,CLAHE,Frontal,DuplicateNumber,SOP
0,84269073,3739633430788944,2009-06-19,XR Chest 2 Views PA + Lat Stnd Protocol,XR Chest 2 Views PA + Lateral,F,62.0,NaN,84269073/3739633430788944/1.2.826.0.1.3680043....,White,Unknown,PA,ORIGINAL PRIMARY,waaoikoaxq,0.0,1,0.0,1.2.826.0.1.3680043.8.498.11539031758371223425...
1,84269073,3739633430788944,2009-06-19,XR Chest 2 Views PA + Lat Stnd Protocol,XR Chest 2 Views PA + Lateral,F,62.0,NaN,84269073/3739633430788944/1.2.826.0.1.3680043....,White,Unknown,Lateral,ORIGINAL PRIMARY,waaoikoaxq,0.0,0,0.0,1.2.826.0.1.3680043.8.498.75909224393525203125...
2,84269073,3739633430788944,2009-06-19,XR Chest 2 Views PA + Lat Stnd Protocol,XR Chest 2 Views PA + Lateral,F,62.0,NaN,84269073/3739633430788944/1.2.826.0.1.3680043....,White,Unknown,PA,ORIGINAL PRIMARY,waaoikoaxq,1.0,1,0.0,1.2.826.0.1.3680043.8.498.83012792870623702441...
3,84269073,3739633430788944,2009-06-19,XR Chest 2 Views PA + Lat Stnd Protocol,XR Chest 2 Views PA + Lateral,F,62.0,NaN,84269073/3739633430788944/1.2.826.0.1.3680043....,White,Unknown,Lateral,ORIGINAL PRIMARY,waaoikoaxq,0.0,0,0.0,1.2.826.0.1.3680043.8.498.10019530719819746433...
4,84269073,3739633430788944,2009-06-19,XR Chest 2 Views PA + Lat Stnd Protocol,XR Chest 2 Views PA + Lateral,F,62.0,NaN,84269073/3739633430788944/1.2.826.0.1.3680043....,White,Unknown,Lateral,ORIGINAL PRIMARY,waaoikoaxq,1.0,0,0.0,1.2.826.0.1.3680043.8.498.99536058454842266521...

In [5]:
df["ViewPosition"].value_counts()

ViewPosition
AP         1265273
PA          614155
Lateral     538831
Other           80
Name: count, dtype: int64

In [6]:
findingsdf = pd.read_csv("/home/rmuthy2/central_data/datasets/internal/EmoryCXRv2/TABLES/EmoryCXR_v2_FindingLabel_10162024.csv")

In [7]:
findingsdf.head()

,AccessionNumber_anon,No Finding,Enlarged Cardiomediastinum,Cardiomegaly,Lung Lesion,Lung Opacity,Edema,Consolidation,Pneumonia,Atelectasis,Pneumothorax,Pleural Effusion,Pleural Other,Fracture,Support Devices
0,3739633430788944,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,3002096846959729,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3881172571748277,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1335965105872601,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7913541839793330,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
findingsdf["Cardiomegaly"].value_counts()

Cardiomegaly
 1.0    121985
 0.0     27489
-1.0     17070
Name: count, dtype: int64

In [10]:
subset = df[['AccessionNumber_anon', 'ImagePath', 'ViewPosition', 'CLAHE']][(df['ViewPosition'] == 'AP') & (df['CLAHE'] == 0)]

In [13]:
subset.to_csv("/home/rmuthy2/400K_Cardiomegaly/AP_View.csv", index = False)

In [14]:
paview = pd.read_csv("/home/rmuthy2/400K_Cardiomegaly/AP_View.csv")

In [18]:
paview.head()

,AccessionNumber_anon,ImagePath,ViewPosition,CLAHE
0,5087455716158305,70431912/5087455716158305/1.2.826.0.1.3680043....,AP,0.0
1,7986046456459857,36789298/7986046456459857/1.2.826.0.1.3680043....,AP,0.0
2,7024586630643845,79739681/7024586630643845/1.2.826.0.1.3680043....,AP,0.0
3,2700155238352052,96057055/2700155238352052/1.2.826.0.1.3680043....,AP,0.0
4,4117940329339341,61993762/4117940329339341/1.2.826.0.1.3680043....,AP,0.0

In [19]:
paview.shape

(654822, 4)

In [20]:
cardiomegaly_only = findingsdf[['AccessionNumber_anon', 'Cardiomegaly']] 
merged = paview.merge(cardiomegaly_only, on='AccessionNumber_anon')

In [21]:
merged.to_csv("/home/rmuthy2/400K_Cardiomegaly/AP_Cardiomegaly.csv", index = False)

In [22]:
new_df = pd.read_csv("/home/rmuthy2/400K_Cardiomegaly/AP_Cardiomegaly.csv")

In [23]:
new_df.head()

,AccessionNumber_anon,ImagePath,ViewPosition,CLAHE,Cardiomegaly
0,5087455716158305,70431912/5087455716158305/1.2.826.0.1.3680043....,AP,0.0,NaN
1,7986046456459857,36789298/7986046456459857/1.2.826.0.1.3680043....,AP,0.0,NaN
2,7024586630643845,79739681/7024586630643845/1.2.826.0.1.3680043....,AP,0.0,NaN
3,2700155238352052,96057055/2700155238352052/1.2.826.0.1.3680043....,AP,0.0,NaN
4,4117940329339341,61993762/4117940329339341/1.2.826.0.1.3680043....,AP,0.0,NaN

In [24]:
new_df.shape

(654841, 5)

In [25]:
new_df["Cardiomegaly"].fillna(0)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
654836    0.0
654837    0.0
654838    0.0
654839    0.0
654840    0.0
Name: Cardiomegaly, Length: 654841, dtype: float64

In [26]:
new_df["Cardiomegaly"].value_counts()

Cardiomegaly
 1.0    68640
-1.0    14075
 0.0    12684
Name: count, dtype: int64

In [28]:
new_df = new_df.fillna(0)

In [29]:
new_df.head()

,AccessionNumber_anon,ImagePath,ViewPosition,CLAHE,Cardiomegaly
0,5087455716158305,70431912/5087455716158305/1.2.826.0.1.3680043....,AP,0.0,0.0
1,7986046456459857,36789298/7986046456459857/1.2.826.0.1.3680043....,AP,0.0,0.0
2,7024586630643845,79739681/7024586630643845/1.2.826.0.1.3680043....,AP,0.0,0.0
3,2700155238352052,96057055/2700155238352052/1.2.826.0.1.3680043....,AP,0.0,0.0
4,4117940329339341,61993762/4117940329339341/1.2.826.0.1.3680043....,AP,0.0,0.0

In [30]:
new_df["Cardiomegaly"].value_counts()

Cardiomegaly
 0.0    572126
 1.0     68640
-1.0     14075
Name: count, dtype: int64

In [31]:
# Create balanced dataset with equal Cardiomegaly cases
positive_cases = new_df[new_df['Cardiomegaly'] == 1]
negative_cases = new_df[new_df['Cardiomegaly'].isin([0, -1])]

# Sample same number of negative cases as positive cases
n_positive = len(positive_cases)
negative_sampled = negative_cases.sample(n=n_positive, random_state=42)

# Combine both
balanced_df = pd.concat([positive_cases, negative_sampled], ignore_index=True)

# Shuffle the final dataset
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

print(f"Positive cases: {n_positive}")
print(f"Negative cases: {len(negative_sampled)}")
print(f"Total balanced dataset: {len(balanced_df)}")

Positive cases: 68640
Negative cases: 68640
Total balanced dataset: 137280

In [32]:
# Save balanced dataset
balanced_df.to_csv('CardiomegalyCohort-Balanced.csv', index=False)